<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>jamManager - <%= song.name %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      .chord-tooltip {
        display: none;
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        padding: 5px;
        z-index: 10;
      }
      .font-size-control,
      .scroll-controls,
      .transpose-controls {
        margin: 10px 0;
      }
      .lyrics,
      .chords {
        font-size: 16px; /* Default font size */
        white-space: pre; /* Preserve white spaces */
        font-family: monospace; /* Use a monospaced font to align chords and lyrics */
      }
      .scroll-container {
        height: 400px; /* Set a height to make the div scrollable */
        overflow-y: auto; /* Enable vertical scrolling */
        border: 1px solid #ccc;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <!-- start fake authentication -->
    <% if (!user) { %>
    <!-- redirect to /login -->
    <script>
      window.location.href = "/login";
    </script>
    <% } %>
    <!-- end fake authentication -->
    <%- include('header') %>
    <h2><%= song.name %> by <%= song.artist %></h2>
    <p><strong>Album:</strong> <%= song.album %></p>
    <p><strong>Tempo:</strong> <%= song.tempo %></p>

    <div class="font-size-control">
      <label for="font-size-range">Font Size:</label>
      <input type="range" id="font-size-range" min="10" max="30" value="16" />
    </div>

    <div class="scroll-controls">
      <button onclick="startScroll(1)">X1</button>
      <button onclick="startScroll(2)">X2</button>
      <button onclick="startScroll(3)">X3</button>
      <button onclick="startScroll(4)">X4</button>
      <button onclick="startScroll(5)">X5</button>
      <button onclick="stopScroll()">Stop</button>
    </div>

    <div class="transpose-controls">
      <button onclick="transposeChords(1)">+</button>
      <button onclick="transposeChords(-1)">-</button>
    </div>

    <h3>Lyrics and Chords</h3>
    <div class="scroll-container" id="scroll-container">
      <% parsedLyrics.forEach(line => { %>
      <div class="lyrics-chords-line">
        <div class="chords">
          <% let chordLine = ""; %> <% let lastOffset = 0; %> <%
          line.chords.forEach(chordObj => { %> <% const spaces = chordObj.offset
          - lastOffset; %> <% chordLine += " ".repeat(spaces) + chordObj.chord;
          %> <% lastOffset = chordObj.offset + chordObj.chord.length; %> <% })
          %>
          <pre><%= chordLine %></pre>
        </div>
        <div class="lyrics">
          <pre><%= line.lyrics %></pre>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="youtube-play">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/<%= song.youtube_link %>"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <%- include('footer') %>
    <script>
      document
        .getElementById("font-size-range")
        .addEventListener("input", function () {
          var newSize = this.value + "px";
          document
            .querySelectorAll(".lyrics, .chords")
            .forEach(function (element) {
              element.style.fontSize = newSize;
            });
        });

      let scrollInterval;

      function startScroll(speed) {
        stopScroll(); // Stop any existing scrolling

        const speedMapping = {
          1: 100,
          2: 80,
          3: 60,
          4: 40,
          5: 20,
        };

        const scrollSpeed = speedMapping[speed];
        const scrollContainer = document.getElementById("scroll-container");
        scrollInterval = setInterval(() => {
          scrollContainer.scrollBy(0, 1);
        }, scrollSpeed);
      }

      function stopScroll() {
        clearInterval(scrollInterval);
      }

      function transpose(chord, increment) {
        var cycle = [
          "C",
          "C#",
          "D",
          "D#",
          "E",
          "F",
          "F#",
          "G",
          "G#",
          "A",
          "A#",
          "B",
        ];
        var el = chord.charAt(0);
        if (chord.length > 1 && chord.charAt(1) == "#") {
          el += "#";
        }
        var ind = cycle.indexOf(el);
        var newInd = (ind + increment + cycle.length) % cycle.length;
        var newChord = cycle[newInd];
        return newChord + chord.substring(el.length);
      }

      function transposeChords(semitones) {
        document.querySelectorAll(".chord").forEach(function (element) {
          let originalChord = element.getAttribute("data-chord");
          let transposedChord = transpose(originalChord, semitones);
          element.innerText = transposedChord;
          element.setAttribute("data-chord", transposedChord);
        });
      }
    </script>
  </body>
</html>
