<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>jamManager - Songs</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- start fake authenticTION -->
    <% if (!user) { %>
    <!-- redirect to /login -->
    <script>
      window.location.href = "/login";
    </script>

    <% } %>
    <!-- end fake authenticTION -->
    <%- include('header') %>
    <h2>Songs</h2>
    <ul>
      <% songs.forEach(song => { %>
      <li>
        <a href="/songs/<%= song.id %>"
          ><%= song.name %> by <%= song.artist %></a
        >
      </li>
      <% }) %>
    </ul>
    <%- include('footer') %>
  </body>
</html>
