<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>jamManager - <%= song.name %></title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vexflow/1.2.83/vexflow-min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vexchords@1.2.0/dist/vexchords.dev.min.js"></script>
    <style>
      .chord-tooltip {
        display: none;
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        padding: 5px;
        z-index: 10;
      }
    </style>
  </head>
  <body>
    <%- include('header') %>
    <h2><%= song.name %> by <%= song.artist %></h2>
    <p><strong>Album:</strong> <%= song.album %></p>
    <p><strong>tempo:</strong> <%= song.tempo %></p>
    <h3>Lyrics and Chords</h3>
    <% parsedLyrics.forEach(line => { %>
    <div>
      <div class="chords">
        <% line.chords.forEach(chord => { %>
        <span class="chord" data-chord="<%= chord %>"><%= chord %></span>
        <% }) %>
      </div>
      <div class="lyrics">
        <pre><%= line.lyrics %></pre>
      </div>
    </div>

    <% }) %>
    <div class="youtube-play">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/<%= song.youtube_link %>"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <%- include('footer') %>
  </body>
</html>

<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/BciS5krYL80?si=YPWBaJ_gfFq2BUq3"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  referrerpolicy="strict-origin-when-cross-origin"
  allowfullscreen
></iframe>
